
<header class="main-sidebar">

    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <a href="/author/">Homepage</a>
            </li>
            <li>
                <a href="/author/">Topics</a>
            </li>
            <li>
                <a href="/author/add-topic">Add Topic</a>
            </li>
            <%if (isAdmin) { %>
            <li><hr/></li>
            <li>
                
                    Admin
                
                <ul  id="adminSubmenu">
                    <li>
                        <a class="dropdown-item" href="/admin/add-domain">Add Domain</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/admin/add-area">Add Area</a>
                    </li>
                </ul>
            </li>
            <% } %>
            <li><hr/></li>
            <% if (!isAuthenticated) { %>
                <li>
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/auth/login">Login</a>
                </li>
                <li>
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/auth/signup">Signup</a>
                </li>
            <% } else { %>
                <li>
                    <form action="/auth/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
            
        </ul>

    </nav>

    <!-- <nav class="main-sidebar__nav">
        <ul class="main-sidebar__item-list">
            <li class="main-sidebar__item"><a class="" href="">Homepage</a></li>
            <li class="main-sidebar__item"><a class="<%= path === '/author/' ? 'active' : '' %>"
                    href="/author/">Topics</a></li>
            <li class="main-sidebar__item"><a class="<%= path === '/author/add-topic' ? 'active' : '' %>"
                    href="/author/add-topic">Add Topic</a></li>
            <li class="main-sidebar__item">
                <button class="dropdown-btn">Admin</button>
                <div class="dropdown-container">
                    <a  href="/admin/add-domain">Add
                        Domain</a>
                        <a  href="/admin/add-area">Add
                            Area</a>
                </div>

            </li>
        </ul>
    </nav> -->
</header>

<!--Main Header-->
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__page-title">
                <%= pageTitle %>
            </li>

            <!--<li class="main-header__item"><a class="<%= path === '/author/' ? 'active' : '' %>" href="/author/">Topics</a></li> -->
        </ul>
    </nav>
</header>